# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Corebox local data
data/*.db
data/*.sqlite
.env

# Streamlit
.streamlit/secrets.toml

# IDE & Tools
.vscode/
.idea/
*.swp
.wrangler/
chrome_temp_profile/

